<!-- main banner & nav  -->
<section class="main_img">
    <div class="container p-2">
        <div class="container">
            <nav class="navbar navbar-expand-lg"
                [ngClass]="{'navbar-expanded': isNavbarExpanded, 'navbar-scrolled': isScrolledDown}">
                <div class="container container_width80">
                    <a href="/"><div class="d-flex justify-content-center" id="logo">
                        <img src="../../assets/images/logo.png" alt="logo" width="105px" height="45px">
                    </div></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 d-flex justify-content-end">
                                    <ul class="navbar-nav">
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" href="/" id="home">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#products">Products</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#about">About Us</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#contact">Contact Us</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 margin_top_botom">
                        <p class="special_price">GET SPECIAL PRICE THIS WEEK</p>
                        <h3 class="Diamond_Jewellery">Diamond Jewellery
                            Collection</h3>
                        <div class="row">
                            <div class="col-lg-8 col-md-6">
                                <p class="baner_main_paramain">All the Lorem Ipsum generators on the Internet tend to
                                    repeat predefined chunks as necessary, making this the first true generator on the
                                    Internet. It uses a dictionary of over
                                    200 Latin words.</p>
                            </div>
                            <div class="col-lg-4 col-md-6 "></div>
                        </div>
                        <button type="button" class="btn">Shop Now</button>
                    </div>
                    <div class="col-lg-6"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="top_overlay" id="about">
    <div class="container-fluid about_parent_section">
        <div class="row">
            <div class="about_maindiv">
                <p class="glory_main_heding1">About Us</p>
                <div class="row">
                    <div class="col-md-2 col-lg-3"></div>
                    <div class="col-md-8 col-lg-6">
                        <p class="glory_main_paramain">All the Lorem Ipsum generators on the Internet tend to repeat
                            predefined
                            chunks as necessary, making this the first true generator on the Internet. It uses a
                            dictionary of
                            over
                            200 Latin words.</p>
                    </div>
                    <div class="col-md-3 col-md-2 col-lg-3"></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 g-0">
                <div class="back_white_redius_right">
                    <div class="row">
                        <div class="col-md-1 g-0"></div>
                        <div class="col-md-11">
                            <div class="about_img1">
                                <img src="../../assets/images/ring_about.png" alt="about img 1" width="100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 g-0">
                <div class="back_white_redius_left">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="about_img2">
                                <img src="../../assets/images/jewellery_about.png" alt="about img 2" width="100%">
                            </div>
                            <div class="col-md-11">
                                <div class="about_img3">
                                    <img src="../../assets/images/about_img_3.png" alt="about img 1" width="100%">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 g-0"></div>
                    </div>
                </div>
            </div>
            <div class="about_contant_para">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <p class="jewellery_collection_para">World Finest Jewellery offers an exquisite collection of
                            meticulously crafted pieces that embody elegance and sophistication. Each item is designed
                            with a
                            commitment to quality and attention to detail, ensuring that every piece is a timeless
                            addition to
                            your collection. Whether you're looking for a dazzling diamond ring, a sophisticated
                            necklace, or a
                            pair of elegant earrings, our collection caters to those with the most discerning tastes.
                        </p>
                        <p class="popin_font">Our artisans use only the finest materials, combining traditional
                            craftsmanship
                            with contemporary design to create jewellery that not only enhances your beauty but also
                            tells a
                            story of heritage and luxury.</p>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- jewellery collection  -->
<section class="Jewellery_Collection_section" id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 g-1">
                <div class="jc_maindiv">
                    <h5 class="jewellery_collection_heading">Jewellery Collection</h5>
                    <p class="jewellery_collection_para">From the latest to this season’s greatest,
                        shop our thoughtfully curated
                        collections. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 g-1">
                <img src="../../assets/images/jc_1.png" alt="jc_img" width="100%">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 g-1">
                <img src="../../assets/images/jc_2.png" alt="jc_img" width="100%">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 g-1">
                <img src="../../assets/images/jc_6.png" alt="jc_img" width="100%">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 g-1">
                <img src="../../assets/images/jc_3.png" alt="jc_img" width="100%">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 g-1">
                <img src="../../assets/images/jc_4.png" alt="jc_img" width="100%">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 g-1">
                <img src="../../assets/images/jc_5.png" alt="jc_img" width="100%">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 g-1">
                <img src="../../assets/images/jc_7.png" alt="jc_img" width="100%">
            </div>
        </div>
    </div>
</section>
<!-- contact  -->
<section id="contact">
    <div class="container">
        <div class="products_maindiv">
            <p class="glory_main_heding">Contact Us</p>
            <p class="glory_main_paramain">Exquisite design, distinguished craftsmanship, unparalleled luxury and a
                legacy
                that tells a captivating tale- Rose, is one of India’s leading luxury jewellery brands.</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card_contact  contact_maindiv border-0">
                    <img src="../../assets/images/phone-call (2).png" alt="phonecontactus" class="contact_image">
                    <a href="tel:7645486421">
                        <p class="cno_img_name">+91 7645486421</p>
                    </a>
                    <p class="support_team">Support team will be available from
                        9:00 AM till 7:00 PM</p>
                    <p class="quick_call_contact2">Connect with our delight team over
                        a quick phone call</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card_contact  contact_maindiv border-0">
                    <img src="../../assets/images/mail.png" alt="phonecontactus" class="contact_image">
                    <a href="mailto:someone@example.com">
                        <p class="cno_img_name">novia@gmail.com</p>
                    </a>
                    <p class="quick_call">Your question or feedback are always
                        welcome at bluejewellery.com</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card_contact  contact_maindiv border-0">
                    <img src="../../assets/images/whatsapp.png" alt="phonecontactus" class="contact_image">
                    <a href="https://api.whatsapp.com/send?phone=15551234567">
                        <p class="cno_img_name">Whatsapp Us</p>
                    </a>
                    <p class="quick_call">Our 24x7 shopping assistant is a text
                        away</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card_contact  contact_maindiv border-0">
                    <img src="../../assets/images/marker.png" alt="phonecontactus" class="contact_image">
                    <a href="https://www.google.com/maps/place/Candere+By+Kalyan+Jewellers/@19.1896015,72.8390883,17z/data=!3m1!4b1!4m6!3m5!1s0x3be7b6e31486ae1b:0x9130bb5e308a21d4!8m2!3d19.1895965!4d72.8416632!16s%2Fg%2F12hn7nbtb?entry=ttu"
                        target="_blank">
                        <p class="cno_img_name">Address</p>
                    </a>
                    <a href="https://www.google.com/maps/place/Candere+By+Kalyan+Jewellers/@19.1896015,72.8390883,17z/data=!3m1!4b1!4m6!3m5!1s0x3be7b6e31486ae1b:0x9130bb5e308a21d4!8m2!3d19.1895965!4d72.8416632!16s%2Fg%2F12hn7nbtb?entry=ttu"
                        target="_blank">
                        <p class="quick_call">01-502, Om Shakti Samrat CHS Ltd., Plot No. 21, Shakti Nivas, , Malad
                            West,
                            Mumbai 400064, India.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- footer  -->
<section>
    <footer>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 col-12">
                        <div class="footer_logo">
                            <a href="/"> <img src="../../assets/images/logo.png" alt="logo" id="logo" width="105px"
                                    height="45px"></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 col-12">
                        <div class="d-flex justify-content-evenly">
                            <a href="/" class="text-decoration-none">
                                <p class="footer_nav">Home</p>
                            </a>
                            <a href="#about" class="text-decoration-none">
                                <p class="footer_nav">About Us</p>
                            </a>
                            <a href="#products" class="text-decoration-none">
                                <p class="footer_nav">Products</p>
                            </a>
                            <a href="#contact" class="text-decoration-none">
                                <p class="footer_nav">Contact Us</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-12">
                        <div class="d-flex justify-content-center">
                            <p class="footer_nav">Follow Us:&nbsp;</p>
                            <div class="d-flex justify-content-evenly flex-fill follow_us_maindiv">
                                <div><a href="https://www.facebook.com/matrika.goldsikka">
                                        <img src="../../assets/images/facebook.png" alt="facebbok"
                                            class="footer_followus">
                                    </a></div>
                                <div><a href="https://www.instagram.com/matrika_goldsikka/">
                                        <img src="../../assets/images/insta.png" alt="insta" class="footer_followus">
                                    </a></div>
                                <div><a href="https://x.com/i/flow/login?redirect_after_login=%2Fmatrika_gs">
                                        <img src="../../assets/images/vecteezy_x-new-twitter-logo_34800663 1.png"
                                            alt="twitter" class="footer_followus">
                                    </a></div>
                                <div><a href="https://www.youtube.com/@matrika_goldsikka">
                                        <img src="../../assets/images/youtub.png" alt="youtube" class="footer_followus">
                                    </a></div>
                                <div> <a href="https://www.linkedin.com/company/goldsikkalimited/">
                                        <img src="../../assets/images/linkdin.png" alt="linkedin"
                                            class="footer_followus">
                                    </a></div>
                                <div> <a href="https://in.pinterest.com/matrika_goldsikka/">
                                        <img src="../../assets/images/pet.png" alt="pet" class="footer_followus">
                                    </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- display only at 320px  -->
            <div class="container display_none2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row d-flex flex-row">
                            <div class="col-md-6 col-12">
                                <div class="d-flex flex-row justify-content-evenly align-items-center">
                                    <div>
                                        <h6 class="footer_nav1">we accept:</h6>
                                    </div>
                                    <div><img src="../../assets/images/visa.svg.png" alt="visa" class="visa"></div>
                                    <div><img src="../../assets/images/master_card.svg.png" alt="visa" class="master">
                                    </div>
                                    <div><img src="../../assets/images/paytm.svg.png" alt="visa" class="paytm">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12 d-flex justify-content-evenly mt-4">

                                <div><img src="../../assets/images/rupay.svg.png" alt="visa" class="rupay">
                                </div>
                                <div><img src="../../assets/images/cod.svg.png" alt="visa" class="cod">
                                </div>
                                <div><img src="../../assets/images/paypal.svg.png" alt="visa" class="paypal">
                                </div>
                                <div><img src="../../assets/images/american_express.svg.png" alt="visa"
                                        class="american_express">

                                </div>

                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row footer_space_bottom">
                    <div class="col-md-6 col-12 display_none1">
                        <div class="d-flex">
                            <p class="footer_nav">We Accept:&nbsp;</p>
                            <div class="payments d-flex flex-fill justify-content-between align-items-center">
                                <img src="../../assets/images/visa.svg.png" alt="visa" class="visa">
                                <img src="../../assets/images/master_card.svg.png" alt="visa" class="master">
                                <img src="../../assets/images/paytm.svg.png" alt="visa" class="paytm">
                                <img src="../../assets/images/rupay.svg.png" alt="visa" class="rupay">
                                <img src="../../assets/images/cod.svg.png" alt="visa" class="cod">
                                <img src="../../assets/images/paypal.svg.png" alt="visa" class="paypal">
                                <img src="../../assets/images/american_express.svg.png" alt="visa"
                                    class="american_express">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 display_start">
                        <p class="designed_by">2023-2024 Glory.Design by: <span><a href="https://xyug.in/" class="xyug">
                                    X-YUG Technologies</a></span></p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
</section>